@use "../../styles/mixin";
@import "../../styles/variables";

.about {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 1; /* Initially hidden */
  animation: fadeAnimation 0.7s ease-in-out;



  @keyframes fadeAnimation {
    0% {
      opacity: 0;
      height: 0%;
    }
    100% {
      opacity: 1;
      height: 100%;
    }
  }

  .aboutH2 {
    display: flex;
  }

  .aboutText {
    @include mixin.spaceCard;
    display: flex;
    flex-direction: column;
    overflow: hidden;

  }

  .aboutNav {
    display: flex;
    justify-content: center;
    gap: .5rem;
    
    a {
      font-size: 1.5rem;
    }
  }
}
