@use "../../styles/mixin";

.welcome {
  @include mixin.spaceCard;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 3;
  color: rgb(222, 221, 221);
  line-height: 1;
  padding: 2rem;

  animation: fadeAnimation 0.7s ease-in-out;

  p.name {
    font-size: 10.2px;
  }

  h2.greetings {
    color: transparent;
    font-size: 14px;
    -webkit-text-stroke: 1px rgb(255, 255, 255); /* Width and color of the outline */
  }

  @keyframes fadeAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .jumpy {
    display: flex;
    h3 {
      font-family: "Holtwood One SC", serif;
      font-size: 36px;
      transition: 0.05s ease-in-out;

      &:hover {
        color: white;
      }
    }
  }

  .myWorld {
    font-size: 16px;
    letter-spacing: 12px;
    text-indent: 11px;
  }
}
