.projects {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 90px;
  z-index: 3;
  position: relative; /* Add this line */
  left: 0px; /* Add this line */

  opacity: 1; /* Initially hidden */
  animation: fadeAnimation2 0.7s ease-in-out;

  @keyframes fadeAnimation2 {
    0% {
      opacity: 0;
      left: -400px;
    }
    100% {
      opacity: 1;
      left: 0px;
    }
  }
  // @keyframes heightAnimation2 {
  //   0% {
  //     height: 0%;
  //   }
  //   100% {
  //     height: 100%;
  //   }
  // }

  .projectsH2 {
    display: flex;
  }

  .cardCaroussel {
    margin-inline: -40px;
    padding-inline: 40px;
    z-index: 10;

    gap: 1rem;
    padding-bottom: 1rem;
    overflow: scroll;
  }

  /* Change the color of the scrollbar track */
  ::-webkit-scrollbar {
    width: 0px; /* width of the scrollbar */
    height: 0px;
  }
}
