@use "../../styles/mixin";
@import "../../styles/variables";

.projects {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 90px;
  z-index: 3;
  position: relative;
  left: 0px; 

  opacity: 1; 
  animation: fadeAnimation2 0.7s ease-in-out;

  @keyframes fadeAnimation2 {
    0% {
      opacity: 0;
      left: -400px;
      height: 0%;
    }
    100% {
      opacity: 1;
      left: 0px;
      height: 100%;
    }
  }

  .projectsH2 {
    display: flex;
  }

  .cardCaroussel {

    .projectNav {
      list-style: none;
      display: flex;

      button {
        width: 40px;
        height: 30px;
        position: relative;
        background: $seeThrueWhite;
        backdrop-filter: blur(3px);

        border: 0;
        color: $grayFont;
        padding: 5px;
        cursor: pointer;
        transition: 0.4s ease-in-out;
        margin-right: 5px;
        overflow: hidden;
      }
      .active {
        color: white;
        background: rgba(255, 255, 255, 0.248);
      }
    }
  }
}
