@import './styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //     font-family: 'Holtwood One SC', serif;
  font-family: "Saira", sans-serif;
  // font-family: 'Saira Condensed', sans-serif;

  h2 {
    font-family: "Holtwood One SC", serif;
    color: rgb(222, 221, 221);
    font-size: 25px;
    &:hover {
      color: white;
    }
  }

  p {
    font-size: 14px;
    font-weight: 200;

    span {
      font-weight: 600;
    }
  }

  a {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: $grayFont;
    transition: .2s ease-in-out;

    &:hover {
      color: white;
    }
  }

  @keyframes heightAnimation {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }

  @keyframes fadeAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
