.header {
  display: flex;
  justify-content: space-between;

  .headerLogo {
      align-self: flex-start;
      padding-bottom: 35px;

  
    p {
      color: rgb(219, 219, 219);
      font-size: 12px;
  
      font-weight: 300;
    }
  }
.headerContact {
  font-size: 1.5rem;
  display: flex;
  align-items: flex-start;
  gap: .5rem;

  i {
    transition: .2s;
      z-index: 3;


    &:hover {
      color: white;

    }
  }
}

}

